body {
    margin: 20px auto;
    width: 80%;
}

.img-post-ad {
    
}

.main-grid {
    display: grid;
    grid-template-areas: "imgGrid formGrid emptyGrid";
}

.img-grid1 {
    grid-area: imgGrid;
    margin-left: 50%;
}

.form-grid2 {
    grid-area: formGrid;
    margin: 15px 0 0 150px;
}

.empty-grid3 {
    grid-area: emptyGrid;
}

td {
    padding: 5px;
}

.controlBox {
    width: 200px;
    height: 35px;
}

.btn-div {
    text-align: center;
}

.img-btn {
    text-align: center;
}

.img-container {
    margin: 20px auto;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: inset 0 0 10px #000000;
}

.error-div {
    margin: 0 auto;
    width: 50%;
}