/*Author: Robert Sarmiento
ID: 991471234*/
.buttonStyle {
    background-color: #6A84FF;
    color: white;
    padding: 5px 50px;
}

.imageStyle {
    display:block;
}
td {
    padding:20px;
}
tr{
    display:flex;
    flex-wrap: wrap;
}
a{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    display:inline-block;
    width:125px;
}